/projetoFinalPC2/target/
/Teste/nbproject/private/
/Teste/build/
/Teste/dist/
/TestedeProjeto/nbproject/private/
/TestedeProjeto/build/
/FinalPc2/nbproject/private/
/FinalPc2/build/
/ProjetoFinalPc2/build/
/ProjetoFinalPc2/nbproject/private/
